.margin_loading {
    height: 100vh;
}

.loading {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 20px solid var(--white-color);
    border-top: 20px solid var(--primary-color);
    animation: spinner 4s linear infinite;
    margin-top: 5rem;
}

@keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}